<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ панель</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 20px;
            justify-content: center;
        }
        .ul {
            list-style: none;
            padding: 0;
            margin: 100px auto;
            justify-content: center;
            display: grid;
            width: 1000px;
            gap: 20px;
        }
        .section {
            background: #fff;
            border: 1px solid #ddd;
            min-height: 100px;
            width: 800px;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: block;
            justify-content: space-between;
        }
        button {
            display: inline-block;
            width: auto;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }
        .new-items{
            width: 800px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<%- include('adminHeader.ejs') %>
<ul class="ul">
        <h2 style="text-align: center">Лента новостей</h2>
        <% if (news && news.length > 0) { %>
            <ul>
                <% news.forEach(newsItem => { %>
                    <li class="section">
                        <h3 class="new-items"><%= newsItem.title %></h3>
                        <p class="new-items"><%= newsItem.content %></p>
                        <p class="date"><%= newsItem.date %></p>
                        <form action="/admin/deleteNewsAdmin/<%= newsItem._id%>" method="POST">
                            <button>Удалить</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>Новостная лента пока пуста.</p>
        <% } %>
</ul>
<script src="/javascripts/adminScript.js"></script>
</body>
</html>
