<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HFFreelance | Личный кабинет</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/alert.css">
    <% if (user && user.id) { %>
        <script>
            const idUser = "<%= user.id %>";
        </script>
    <% } %>
</head>
<%- include('header.ejs') %>
<div class="pers-container">
    <aside class="sidebar">
        <h2>Меню</h2>
        <ul>
            <li id="profileMenu"><a href="#profilePage">Мой профиль</a></li>

            <li id="newsMenu"><a href="#news">Новости</a></li>
            <br>
            <% if (user.role === 'Admin') {%>
                <li><a onclick="admin()">Админ панель</a></li>
            <br>
            <% } %>
            <li><a href="/">В главное меню</a></li>
            <li><a href="#delete-account" onclick="deleteAccountMenu()">Удалить Уч. запись</a></li>
            <li><a href="#logout" onclick="logoutMenu()">Выйти</a></li>
        </ul>
    </aside>
    <main class="main-content">
        <section id="profile" class="section">
            <% if (user && user.id) { %>
            <h1>Профиль</h1>
            <div class="profile-info">
                <img src="" class="profile-pic" id="userImage">
                <div class="pers-info">
                    <h2 id="profileName"><%= user.name %></h2>
                    <p>Email: <%= user.email %></p>
                    <p>Дата регистрации: <%= user.registerDate %></p>
                    <% if(review && review.reviews && review.reviews.length > 0 && review.reviews[0].review) {%>
                        <div>
                            <p class="reviews-limit">Отзыв: <%= review.reviews[0].review %></p>
                            <button onclick="deleteReviewMenu()" class="review-delete">Удалить отзыв</button>
                        </div>
                    <% } else {%>
                        <p>Отзыв: Отсутствует</p>
                    <%}%>
                </div>
            </div>
            <div class="redaction">
                <p>
                    <button id="editImageBtn">Сменить аватара</button>
                </p>
                <form action="/upload/<%= user.id %>" method="POST" enctype="multipart/form-data">
                    <section id="editImagePart" hidden>
                        <p id="imageChangeError"></p>
                        <input type="file" name="file" id="attachFile">
                        <p>
                            <input type="button" value="Сохранить" id="changeBtn">
                            <input type="button" value="Назад" id="cancelChangeBtn">
                        </p>
                    </section>
                </form>
            </div>
            <% } %>
        </section>

        <section id="changePassword" class="section">
            <h1>Смена пароля</h1>
            <p><%= user._id %></p>
            <form action="/changePassword/<%= user.id %>" method="POST">
                <div class="password-container">
                    <input type="password" name="password" id="pwd" placeholder="Новый пароль" minlength="6" maxlength="50" required>
                    <input type="password" name="confirmPassword" id="cpwd" placeholder="Повтор пароля" minlength="6" maxlength="50" required>
                    <span class="toggle-password" id="togglePassword1">&#128065;</span>
                </div>
                <button id="changePasswordBtn">Сменить пароль</button>
            </form>
        </section>

        <section id="news" hidden>
            <h2 class="center">Лента новостей</h2>
            <% if (news && news.length > 0) { %>
                <ul>
                    <% news.forEach(newsItem => { %>
                        <li class="news-section">
                            <h3 class="news-title"><%= newsItem.title %></h3>
                            <p class="news-content"><%= newsItem.content %></p>
                            <p class="date"><%= newsItem.date %></p>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p style="text-align: center">Новостная лента пока пуста.</p>
            <% } %>
        </section>
    </main>
</div>
<script src="/javascripts/profile.js"></script>
<script src="/javascripts/script.js"></script>
<script>
    const userImage = document.getElementById('userImage');
    const img = localStorage.getItem('profileImage');
    userImage.src = img;
</script>
