<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Готовые Сайты</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 20px;
        }

        .ul {
            list-style: none;
            padding: 0;
            margin: 30px auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1000px;
            gap: 20px;
        }

        .project {
            display: flex;
            align-items: center;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            width: 400px;
            height: 200px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            margin: 10px auto;
            transition: transform 0.2s;
            overflow: hidden;
        }

        .img {
            width: 120px;
            height: 120px;
            border-radius: 8px;
            border: 2px solid #007bff;
            margin-right: 20px;
        }

        .sites-info {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .button, .Download-button {
            background: none;
            color: #007bff;
            border: 1px solid #007bff;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s, color 0.3s;
        }

        .button:hover, .Download-button:hover {
            background-color: #007bff;
            color: white;
        }

        .Download-button {
            display: flex;
            align-items: center;
            background: rgb(103, 92, 156);
            border: none;
            padding: 8px 12px;
            color: white;
            border-radius: 5px;
            position: relative;
        }

        .Download-button svg {
            margin-right: 8px;
            width: 20px;
        }

        .Download-button:hover {
            background-color: #5b3d8b;
        }

        .Download-button:active {
            background-color: #4a2f6c;
        }

        .advertising{
            background-color: white;
            width: 800px;
            height: 85px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
        .no-advertising{
            border: 1px solid black;
            background-color: white;
            width: 800px;
            height: 85px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
        }
        .adv-image{
            width: 800px;
            height: 85px;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            z-index: 1;
        }
        .center-advertising{
            text-align: center;
            justify-content: center;
            margin-top: 35px;
            color: #040505;
            z-index: 2;
        }
        .love{
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: transform 0.2s;
        }
        .love:hover{
            transform: scale(1.08);
        }
        .love:active{
            transform: scale(0.70);
        }
    </style>
</head>
<body>
<%- include('header.ejs') %>
<br>
<br>
<br>
<br>
<br>
<br>
<main>
    <div>
        <% if (advertising && advertising.length) { %>
            <% if (advertising.length > 1) { %>
                <p class="center-advertising"><%= advertising[0].title %></p>
            <% } else { %>
                <% advertising.forEach(adv => { %>
                    <a href="<%= adv.link %>" target="_blank">
                        <div class="advertising">
                            <img src="data:image/png;base64,<%= adv.image %>" class="adv-image">
                        </div>
                    </a>
                <% }) %>
            <% } %>
        <% } else { %>
            <div class="no-advertising">
                <p class="center-advertising">Здесь может быть ваша реклама!</p>
            </div>
        <% } %>
    </div>
    <ul class="ul">
        <% if (websites && websites.length) { %>
            <% websites.forEach(sites => { %>
                <li class="project">
                    <img src="data:image/jpeg;base64,<%= sites.fileImg %>" class="img">
                    <div class="sites-info">
                        <p>Название: <%= sites.title %></p>
                        <p>Тип: <%= sites.siteType %></p>
                        <div style="display: flex; gap: 10px; margin: auto 0;">
                            <form action="/fileInfo/<%= sites._id %>" method="GET">
                                <button class="button">Посмотреть</button>
                            </form>
                            <div class="download" id="download" data-download="<%= sites._id %>">

                            </div>
                            <div>
                                <img src="/images/love.png" class="love" id="love-<%= sites._id %>" data-id="<%= sites._id %>" data-title="<%= sites.title %>" data-type="<%= sites.siteType %>" data-img="<%= sites.fileImg %>">
                                <img src="/images/alreadyLove.png" class="love" id="alreadyLove-<%= sites._id %>" data-id="<%= sites._id %>" data-title="<%= sites.title %>" data-type="<%= sites.siteType %>" data-img="<%= sites.fileImg %>" hidden>
                            </div>
                        </div>
                    </div>
                </li>
            <% }) %>
        <% } else { %>
            <p>Лента сайтов пустая.</p>
        <% } %>
    </ul>
    <%- include('pagination.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('footer.ejs') %>
</main>
<script src="/javascripts/advertising.js"></script>
</body>
</html>
