<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website View | <%= siteInfo.title %></title>
    <link rel="icon" type="image/png" href="/images/logo2.png">
</head>
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f0f2f5;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }
    .info{
        display: block;
        margin: 150px 50px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        /*width: 800px;*/
        width: 900px;
        height: 380px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        overflow: hidden;
    }
    .description{
        color: #666;
        margin-left: 10px;
        width: 500px;
        word-wrap: break-word;
    }
    .info-container{
        max-width: 1500px;
        margin: -120px 50px;
        display: flex;
        gap: 20px;;
    }
    .my-info{
        display: block;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 500px;
        height: 100px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .site-info{
        display: block;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 239px;
        height: 100px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .img{
        width: 200px;
        height: 200px;
        border-radius: 8px;
        border: 2px solid #007bff;
        margin-right: 20px;
        cursor: zoom-in;
        transition: transform 0.3s;
    }
    .img:hover{
        transform: scale(1.1);
    }
    .href{
        color: #4a00e0;
    }
    .href:hover{
        text-decoration: underline;
        text-decoration-color: black;
    }

    .Download-button {
        display: flex;
        align-items: center;
        background: rgb(103, 92, 156);
        border: none;
        padding: 8px 12px;
        color: white;
        border-radius: 5px;
        position: relative;
        margin-top: 1px;
        width: 110px;
        cursor: pointer;
    }

    .Download-button svg {
        margin-right: 8px;
        width: 20px;
    }

    .Download-button:hover {
        background-color: #5b3d8b;
    }

    .Download-button:active {
        background-color: #4a2f6c;
    }
    .br{
        margin: 200px auto;
    }
    .new-barrier{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.6;
        z-index: 3;
    }
    .new-border{
        width: 600px;
        height: 500px;
        background-color: #f4f1de;
        border-radius: 10px;
        z-index: 4;
        opacity: 1;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .logout-border{
        border: 1px solid blue;
        width: 500px;
        height: 500px;
        background-color: #212529;
        border-radius: 10px;
        z-index: 4;
        opacity: 1;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
    .new-image{
        width: 500px;
        height: 500px;
    }
    .show-details img{
        width: 30px;
        height: 30px;
        border: 1px solid white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        cursor: pointer;
    }
    .comment-container{
        display: block;
        /*margin-top: -562px;*/
        position: fixed;
        /*top: 12%;*/
        top: 0;
        right: 0;
        background: #fff;
        border: 1px solid #ddd;
        /*border-radius: 8px;*/
        padding: 20px;
        width: 400px;
        /*height: 680px;*/
        height: 100vh;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 3;
    }
    .comments{
        overflow-x: hidden;
        overflow-y: auto;
        width: 400px;
        height: 500px;
    }
    .comment-form{
        display: block;
        gap: 10px;
        margin-top: 20px;
        background: #fff;
        position: relative;
        left: 50%;
        top: -2%;
        transform: translate(-50%);
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 400px;
        height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .comment{
        margin-left: 60px;
        width: 250px;
        word-wrap: break-word;
        color: #666;
        margin-top: -5px;
    }
    .date{
        margin: 16px 10px;
        color: #6c757d;
        font-size: 14px;
    }

    .input {
        border: 1.5px solid #0b0b0b;
        padding: 5px;
        border-radius: 5px;
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        transition: 0.2s ease-in-out;
    }

    .input{
        min-width: 350px;
    }
    .close{
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 3%;
    }
    .checkComments img{
        position: absolute;
        top: 20%;
        right: 5%;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
</style>
<body>
<main>
    <%- include('header.ejs') %>
    <br>
    <br>
    <div style="display: block">
        <div class="info">
            <h2 style="color: #3c096c; margin-left: 2px;">Information</h2>
            <div style="display: flex;">
                <img src="data:image/jpeg;base64,<%= siteInfo.fileImg %>" class="img" onclick="imageMenu()" title="Zoom in">
                <div style="display: block; margin-left: 20px; margin-top: -40px;">
                    <b style="color: #3c096c">- Title:</b>
                    <p style="margin-left: 10px; color: #666;"><%= siteInfo.title %></p>
                    <b style="color: #3c096c">- Type:</b>
                    <p style="margin-left: 10px; color: #666;"><%= siteInfo.siteType %></p>
                    <b style="color: #3c096c">- Description:</b>
                    <p class="description"><%= siteInfo.description %></p>
                </div>
                <div style="display: flex">
                    <div style="display: block; margin-left: -300px; margin-top: -40px;">
                        <b style="color: #3c096c">- Looked :</b>
                        <p style="margin-left: 10px; color: #666;"><%= siteInfo.views %></p>
                        <b style="color: #3c096c">- Downloaded :</b>
                        <p style="margin-left: 10px; color: #666;"><%= siteInfo.saves %> downloads</p>
                    </div>
                    <div style="display: block; margin-left: 100px; margin-top: -40px;">
                        <b style="color: #3c096c">- Comments :</b>
                        <p style="margin-left: 10px; color: #666;"><%= siteInfo.commentsNumber %> comments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info-container">
        <div class="my-info">
            <h2 style="color: #3c096c">My Information</h2>
            <div style="display: flex; white-space: nowrap; gap: 5px;" id="my-details">
                <div style="display: flex; white-space: nowrap; gap: 5px;">
                    <a href="/auth/login" class="href">Log in</a>
                    <p style="margin-top: 0">or</p>
                    <a href="/auth/register" class="href">register,</a>
                    <p style="margin-top: 0">to download your favorite websites.</p>
                </div>
            </div>
        </div>

        <div class="site-info">
            <h2 style="color: #3c096c">Download Archive</h2>
            <div style="display: flex; gap: 10px; margin: auto 0;" id="download-file">
            </div>
        </div>
    </div>
    <div class="checkComments" id="checkComments" onclick="onCommentMenu()">
        <img src="/images/comments.png">
    </div>
    <div class="comment-container" id="commentMenu" style="display: none">
        <b class="close" onclick="offCommentMenu()">X</b>
        <h2 style="text-align: center">User comments</h2>
        <div class="comments">
            <% if (siteInfo.comments.length > 0) { %>
                <% siteInfo.comments.forEach(comment => { %>
                    <div>
                        <div style="display: flex">
                            <img src="data:image/png;base64,<%= comment.avatar %>" style="border-radius: 50%; width: 60px; height: 60px">
                            <h3 style="margin-left: 5px"><%= comment.author %></h3>
                            <p class="date"><%= comment.date %></p>
                        </div>
                        <p class="comment"><%= comment.message %></p><br>
                    </div>
                <% }); %>
            <% } else {%>
                <p>No comments found</p>
            <%}%>
        </div>
        <div class="comment-form" id="commentForm">
        </div>
    </div>
    <div class="br"></div>
</main>
<%- include('footer.ejs') %>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const downloadFile = document.getElementById('download-file');
        const token = localStorage.getItem('token');

        if(token){
            downloadFile.innerHTML = `
                <form action="/downloadFile/<%= siteInfo._id %>" method="POST">
                    <button class="Download-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
                            <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z" fill="white"></path>
                        </svg>
                        <span>Download</span>
                    </button>
                </form>
            `
        }
        else{
            downloadFile.innerHTML = `
                <button class="Download-button" onclick="displayInfo()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" viewBox="0 0 640 512">
                        <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z" fill="white"></path>
                    </svg>
                    <span>Download</span>
                </button>
            `
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const myDetails = document.getElementById('my-details');
        const token = localStorage.getItem('token');

        if(!token){
            myDetails.innerHTML = `
                    <a href="/auth/login" class="href">Login</a>
                    <p style="margin-top: 0">or</p>
                    <a href="/auth/register" class="href">register</a>
                    <p style="margin-top: 0">to download your favorite sites.</p>`

        }
        else{
            myDetails.innerHTML = `<a>You are logged in and can download files. Good luck!</a>`
        }
    })

    function imageMenu(){
        const barrier = document.createElement('barrier');
        const border = document.createElement('border');

        barrier.innerHTML = `<div class="new-barrier"></div>`;
        border.innerHTML = `
        <div class="logout-border">
        <img src="data:image/jpeg;base64,<%= siteInfo.fileImg %>" class="new-image">
        </div>
        </div>`

        document.body.appendChild(border);
        document.body.appendChild(barrier);
        barrier.addEventListener('click', () => {
            document.body.removeChild(barrier);
            document.body.removeChild(border);
        })
        document.getElementById('closeBtn').addEventListener('click', () => {
            document.body.removeChild(barrier);
            document.body.removeChild(border);
        })
    }
    const commentMenu = document.getElementById('commentMenu');
    const checkComments = document.getElementById('checkComments');

    function offCommentMenu(){
        localStorage.setItem('commentsMenu', 'false');
        commentMenu.style.display = 'none';
        checkComments.style.display = 'block';
    }
    function onCommentMenu(){
        localStorage.setItem('commentsMenu', 'true');
        commentMenu.style.display = 'block';
        checkComments.style.display = 'none';
    }
    function checkCommentsMenu(){
        const commentsMenu = localStorage.getItem('commentsMenu');
        if (commentsMenu === 'true'){
            commentMenu.style.display = 'block';
            checkComments.style.display = 'none';
        }
        else{
            commentMenu.style.display = 'none';
            checkComments.style.display = 'block';
        }
    }
    checkCommentsMenu();

    function commentForm(){
        const token = localStorage.getItem('token');
        const commentForm = document.getElementById('commentForm');
        if (token){
            commentForm.innerHTML = `
            <form action="/sendCommentsPost/<%= siteInfo.id %>" method="POST" id="commentForm">
                <div style="display: flex; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                    <input type="text" id="message" name="message" placeholder="Write comment" class="input" maxlength="150" required>
                    <button type="submit" id="sendComment" style="background: none; border: none"><img src="/images/send.png" style="width: 25px; height: 25px; cursor:pointer;"></button>
                </div>
            </form>`
        }
        else{
            commentForm.innerHTML = `
            <div style="display: flex; gap: 5px; justify-content: center; text-align: center; align-items: center; word-break: break-word">
                <a href="/auth/login" class="href">Login</a>
                <p>or</p>
                <a href="/auth/register" class="href">register</a>
                <p>to write comments.</p>
            </div>
                 `
        }
    }
    commentForm();
</script>
<script src="/javascripts/advertising.js"></script>
<script src="/javascripts/love.js"></script>
</body>
</html>
